* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

#container {
    width: 30%;
    border: 1px solid #000000;
}

#container div {
    display: flex;
    justify-content: center;
}

#div-botao {
    margin-top: 2rem;
}